{% extends "base.html" %}
{% block content %}
<h2>All Lagar</h2>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Parti</th>
      <th>Status</th>
      <th>Åtgärder</th>
    </tr>
  </thead>
  <tbody>
    {% for r in results %}
    <tr>
      <td>{{ r.bill.title }}</td>
      <td>{{ r.bill.proposer_party.name if r.bill.proposer_party else "Unknown" }}</td>
      <td>
        {% if r.status == "passed" %}
          <span class="badge bg-success">Passed</span>
        {% elif r.status == "failed" %}
          <span class="badge bg-danger">Failed</span>
        {% else %}
          <span class="badge bg-warning">Not voted yet</span>
        {% endif %}
      </td>
      <td>
        <a href="{{ url_for('bill_view', bill_id=r.bill.id) }}">Visa & Rösta</a>
        <ul>
          {% for v in r.votes %}
            <li>{{ v.party_name }} voted {{ v.vote_choice|capitalize }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
