{% extends "base.html" %}
{% block content %}
<h2>All Lagar</h2>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Parti</th>
      <th>Status</th>
      <th>åtgärder</th>
    </tr>
  </thead>
  <tbody>
    {% for b in bills %}
    <tr>
      <td>{{ b.title }}</td>
      <td>Party {{ b.proposer_party_id }}</td>
      <td>
        {% if b.passed %}
          <span class="badge bg-success">Godkänt</span>
        {% else %}
          <span class="badge bg-warning">Pågående</span>
        {% endif %}
      </td>
      <td>
        <a href="{{ url_for('bill_view', bill_id=b.id) }}">Visa & Rösta för Lagen</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
